* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
body {
  background: #000;
}
.app {
  text-align: center;
}
.app .text,
.app .voice {
  width: 50%;
  padding-bottom: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 4rem auto 0;
}
.app .text {
  background: #008000;
}
.app .voice {
  background: #0ff;
}
h1 {
  position: fixed;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  font-size: 1.6rem;
}
