@import 'nib'

@css {
  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  }

  body {
      -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
      -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
      background-attachment:fixed;
      font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
      height:100%;
      margin:0px;
      padding:0px;
      width:100%;
  }
 
}

//@media screen and (min-aspect-ratio: 1/1) and (min-width:400px)

@keyframes wave
  0%
    transform translateX(0px)
  100%
    transform translateX(-94px)

body
  background black

.app 
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  -webkit-overflow-scrolling touch
  text-align center
  .text, .voice, .wave
    width 50%
    background-position center center
    background-size 40px 40px
    background-repeat no-repeat
    position absolute
    bottom 0
    height 60px
  .text
    left 0
    background-color #7AFF00
    background-image url('../img/text.svg')
  .wave
    left 0
    &::before
      content ''
      display block
      position absolute
      top 0
      left 0
      width 320px
      bottom 0
      background-repeat repeat
      background-image url('../img/wave.svg')
      background-position 0px 0px
      background-size contain
      animation-name wave
      animation-duration 0.35s
      animation-timing-function linear
      animation-iteration-count infinite
  .voice
    right 0
    background-color #18CAE6
    background-image url('../img/mic.svg')
  .text.disabled
    opacity 0
h1
  position fixed
  color white
  text-transform uppercase
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-weight 100
  top 0
  left 0
  right 0
  text-align center
  padding 0
  font-size 1.6rem


