@import 'nib'

@css {
  *, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  }

  body {
      -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
      -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
      -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
      background-attachment:fixed;
      font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
      height:100%;
      margin:0px;
      padding:0px;
      width:100%;
  }
 
}

//@media screen and (min-aspect-ratio: 1/1) and (min-width:400px)

ogreen = #00C41F
oblue = #6FC3DF
lightblue = #E6FFFF
oyellow = #FFE64D
oorange = #D84D41

@keyframes wave
  0%
    transform translateX(0px)
  100%
    transform translateX(-94px)

@keyframes expand
  0%
    transform scaleY(0)
  100%
    transform scaleY(1)

@keyframes bounceInUp
  0%
    opacity 0
    -webkit-transform translateY(2000px)
    -ms-transform translateY(2000px)
    transform translateY(2000px)

  60%
    opacity 1
    -webkit-transform translateY(-30px)
    -ms-transform translateY(-30px)
    transform translateY(-30px)

  80%
    -webkit-transform translateY(10px)
    -ms-transform translateY(10px)
    transform translateY(10px)

  100%
    -webkit-transform translateY(0)
    -ms-transform translateY(0)
    transform translateY(0)

body
  background black

.app 
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  -webkit-overflow-scrolling touch
  text-align center
  .text, .voice, .wave
    width 50%
    background-position center center
    background-size 40px 40px
    background-repeat no-repeat
    position absolute
    bottom 0
    height 60px
  .text
    left 0
    background-color oorange
    background-image url('../img/text.svg')
    transition 0.5s ease
  .wave
    left 0
    transition 0.5s ease
    opacity 0
    &::before
      content ''
      display block
      position absolute
      top 0
      left 0
      width 640px
      bottom 0
      background-repeat repeat
      background-image url('../img/wave.svg')
      background-position 0px 0px
      background-size contain
      animation-name wave
      animation-duration 0.35s
      animation-timing-function linear
      animation-iteration-count infinite
  .wave.active
    opacity 1
  .voice
    right 0
    background-color oblue
    background-image url('../img/mic.svg')
    transition 0.5s
  .text.disabled
    opacity 0
  .text.moveup, .voice.moveup, .wave.moveup
    transform translateY(-260px)
  textarea
    // position absolute
    // bottom 216px
    // left 0
    // width 100%
    appearance none
    border-radius 0
    border 0
    font-size 1.6rem
    font-family 'Helvetica Neue', Helvetica, sans-serif
    font-weight 200
    padding 0.5rem
    // background transparent
    color transparent
    word-wrap: break-word
    // display none
    &:focus
      background rgba(0,0,0,0.9)
      width 260px

      color oorange
  textarea:focus ~ .voice
    width 60px


h1
  position fixed
  color white
  text-transform uppercase
  font-family 'Helvetica Neue', Helvetica, sans-serif
  font-weight 100
  top 0
  left 0
  right 0
  text-align center
  padding 0
  font-size 1.6rem



.convo
  position absolute
  top 3rem
  left 0
  right 0
  height 460px
  transition 0.5s ease
  &.moveup
    height 200px
  &::before
    content ''
    position absolute
    top 0
    left 0
    right 0
    height 3rem
    background linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0,0));
    z-index 10
  &::after
    z-index 10
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    height 3rem
    background linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
  .content
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    overflow scroll
    -webkit-overflow-scrolling touch
    padding 2rem 0
    font-family 'Helvetica Neue', Helvetica, sans-serif
    color white
    .user
      color oblue
      text-align right
      font-size 1rem
      animation-name bounceInUp
      animation-duration 1s
      padding .5rem 1rem .5rem 2rem

  .bar
    background-color oyellow
    animation-name expand
    animation-duration 1.5s
    transform-origin 50% 100%
    min-height 4px
    margin-right 1%
    position relative
    span
      position absolute
      top -0.8rem
      font-size 0.6rem
      color white
      font-family 'Helvetica Neue', Helvetica, sans-serif
      font-weight 200
      white-space nowrap
      transform-origin 0% 50%
      transform rotate(-90deg)
    // &.color0
    //   background oorange
    // &.color1
    //   background oblue
    // &.color2
    //   background lightblue
    // &.color3
    //   background lightblue
    // &.color4
    //   background oyellow
  .ticket
    position relative
    background lightblue
    padding 0.5rem
    margin-bottom 0.5rem
    h3
      font-family 'Helvetica Neue', Helvetica, sans-serif
      font-weight 100
      font-size 1rem
      line-height 100%
      color black
      padding 0 0.5rem
    p
      font-family 'Helvetica Neue', Helvetica, sans-serif
      font-weight 200
      font-size 0.8rem
      line-height 100%
      color black
      padding 0 0.5rem
    span
      position absolute
      top 0.25rem
      right 0.25rem
      font-family 'Helvetica Neue', Helvetica, sans-serif
      font-weight 200
      font-size 0.6rem
      color black
.barcode
  position fixed
  top 1.45rem
  right 1.45rem
  width 2rem
  -webkit-reflection none

