*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
body {
  background: #000;
}
.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  text-align: center;
}
.app .text,
.app .voice,
.app .wave {
  width: 50%;
  background-position: center center;
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  height: 60px;
}
.app .text {
  left: 0;
  background-color: #00c41f;
  background-image: url("../img/text.svg");
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
.app .wave {
  left: 0;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.app .wave::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  bottom: 0;
  background-repeat: repeat;
  background-image: url("../img/wave.svg");
  background-position: 0px 0px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -webkit-animation-name: wave;
  -moz-animation-name: wave;
  -o-animation-name: wave;
  -ms-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -o-animation-duration: 0.35s;
  -ms-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.app .wave.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.app .voice {
  right: 0;
  background-color: #18cae6;
  background-image: url("../img/mic.svg");
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}
.app .text.disabled {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.app .text.moveup,
.app .voice.moveup,
.app .wave.moveup {
  -webkit-transform: translateY(-260px);
  -moz-transform: translateY(-260px);
  -o-transform: translateY(-260px);
  -ms-transform: translateY(-260px);
  transform: translateY(-260px);
}
.app textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  font-size: 1.6rem;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
  padding: 0.5rem;
  color: transparent;
  word-wrap: break-word;
}
.app textarea:focus {
  background: rgba(0,0,0,0.5);
  width: 260px;
  color: #00c41f;
}
.app textarea:focus ~ .voice {
  width: 60px;
}
h1 {
  position: fixed;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 100;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  font-size: 1.6rem;
}
@-moz-keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-94px);
    -moz-transform: translateX(-94px);
    -o-transform: translateX(-94px);
    -ms-transform: translateX(-94px);
    transform: translateX(-94px);
  }
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-94px);
    -moz-transform: translateX(-94px);
    -o-transform: translateX(-94px);
    -ms-transform: translateX(-94px);
    transform: translateX(-94px);
  }
}
@-o-keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-94px);
    -moz-transform: translateX(-94px);
    -o-transform: translateX(-94px);
    -ms-transform: translateX(-94px);
    transform: translateX(-94px);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-94px);
    -moz-transform: translateX(-94px);
    -o-transform: translateX(-94px);
    -ms-transform: translateX(-94px);
    transform: translateX(-94px);
  }
}
